:root {
  --primary-black-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --grey-color: #757575;
}

body {
  background-color: var(--primary-white-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

li {
  list-style-type: none;
}

.logo-header1,
.logo-header2 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header-link {
  color: #000000;
  cursor: pointer;
}
.logo-header-link :hover,
.logo-header-link :focus {
  color: var(--accent-color);
}

.logo-header-link :active {
  color: crimson;
}

.logo-header2 {
  color: var(--accent-color);
}

.nav-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  cursor: pointer;
}

.nav-item :hover,
.nav-item :focus {
  color: var(--accent-color);
}

.nav-item :active {
  color: crimson;
}

.nav-contact {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  cursor: pointer;
}

.nav-contact :hover,
.nav-contact :focus {
  color: var(--accent-color);
}

.nav-contact :active {
  color: crimson;
}

.hero-container {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
}

.order-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.85;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  align-items: center;
  position: absolute;
  left: 750px;
  top: 280px;
  cursor: pointer;
}

.order-button :hover,
.order-button :focus {
  color: var(--primary-black-color);
}

.order-button :active {
  color: crimson;
}

.advantages-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}

.advantages-descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.buttons-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  /* text-align: center; */
  color: var(--primary-black-color);
  background: #f5f4fa;
}

.buttons-item :hover,
.buttons-item:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.buttons-item :active {
  color: crimson;
}

.our-duties-title,
.our-team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  /* text-align: center; */
  color: var(--primary-black-color);
}

.employee-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  /* text-align: center; */
  color: var(--primary-black-color);
}

.employee-job {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  /* text-align: center; */
  color: var(--grey-color);
}

.our-duties-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--primary-black-color);
}

.our-duties-descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--grey-color);
}

footer {
  background: #2f303a;
}
.logo-footer1,
.logo-footer2 {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer1 :hover,
.logo-footer1 :focus {
  color: var(--accent-color);
}

.logo-footer1 :active {
  color: crimson;
}

.logo-footer1 {
  color: var(--accent-color);
}

.logo-footer2 {
  color: var(--primary-white-color);
}

.footer-contact,
.footer-contact1 {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  cursor: pointer;
}

.footer-contact {
  color: var(--primary-white-color);
}

.footer-contact1 {
  color: rgba(255, 255, 255, 0.6);
}
